/* SETUP */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  /* scroll-behavior: smooth; */
}
main{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  justify-self: center;
  align-self: center;
  position: relative;
  overflow-x: hidden;
}
@media screen and (min-width:476px) {
  main{
  max-width: 476px;
  }
}
body{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.desktop{
  background-color: rebeccapurple;
  width: 100%;
  height: 100vh;
  background-image: url(./img/ls-1.png);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}
.desktop::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}
#snow-animation-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.upContainer{
  position: relative;
  z-index: 2;
}
button.music{
  display: flex;
  position: fixed;
  bottom: 32px;
  right: 20px;
  z-index: 100;
  height: 64px;
  width: 64px;
  background-color: transparent;
  animation: rotating infinite 8s linear;
}
@keyframes rotating {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
button.music img{
  width: 100%;
}
/* SETUP */
/* FONT */
@font-face {
  font-family: "GreyQO";
  src: url(./fonts/GreyQo/GreyQo-Regular.ttf);
}
@font-face {
  font-family: "Allura";
  src: url(./fonts/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "Irish";
  src: url(./fonts/IrishGrover/IrishGrover-Regular.ttf);
}
@font-face {
  font-family: "Kaisei";
  src: url(./fonts/KaiseiHarunoUmi/KaiseiHarunoUmi-Regular.ttf);
}
@font-face {
  font-family: "Quicksand";
  src: url(./fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
/* FONT */
/* COVER */
#cover{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: .7s;
}
.hero-section{
  width: 100%;
  height: 100vh;
  background-position: top;
  background-size: cover;
  position: relative;
}
.hero-section::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 24px;
  width: 100%;
  height: 100%;
}
.hero-section .container{
  justify-content: flex-end;
  align-items: center;
}
.hero-section .container .box-hero-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
  position: relative;
  z-index: 2;
}
.hero-section .container .box-hero-section span{
  font-family: "Kaisei";
  color: whitesmoke;
  font-size: 16px;
  margin-bottom: 4px;
}
.hero-section .container .box-hero-section .main-hero{
  font-family: "Allura";
  color: white;
  font-size: 64px;
}
.hero-section .container .box-hero-section .main-hero span{
  font-size: 20px;
}
.hero-section .container .box-hero-section .sub-text{
  font-family: "Kaisei";
  color: whitesmoke;
  font-size: 14px;
  margin-bottom: 8px;
}
.hero-section .container .box-hero-section button{
  padding: 12px 32px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  margin-top: 24px;
  border-radius: 4px;
  font-family: "Kaisei";
  color: whitesmoke;
  font-size: 14px;
}
.hero .container .box-hero-section span,
.hero .container .box-hero-section .main-hero,
.hero .container .box-hero-section .sub-text,
.hero .container .box-hero-section button {
  transform: translateY(-100%);
  opacity: 0;
  transition: .7s;
  transition-delay: 1s;
}
/* COVER */
/* COUNTDOWN */
.countdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/Background.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 40px 0;
}
.countdown .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title-template{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title-template .head{
  width: 70%;
  margin-bottom: 0px;
}
.main-title-template .main-title{
  font-family: "GreyQO";
  font-size: 52px;
  margin-bottom: 0px;
}
.main-title-template .line{
  width: 90%;
  margin-bottom: 0px;
}
.main-title-template .sub-title{
  font-family: "Kaisei";
  font-size: 16px;
  margin-top: 4px;
}
.countdown .container .box-time{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  margin-top: 40px;
}
.countdown .container .box-time .item-time{
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1.5px solid #C18742;
  border-radius: 4px;
}
.countdown .container .box-time .item-time p{
  font-family: "Kaisei";
  color: #C18742;
  font-size: 24px;
  margin-bottom: 12px;
}
.countdown .container .box-time .item-time span{
  position: absolute;
  bottom: 8px;
  font-size: 12px;
  color: #181818;
}
/* COUNTDOWN */
/* BnG */
.BnG{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}
.BnG::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
}
.BnG .container{
  position: relative;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.bng-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 52px;
  width: 100%;
}
.bng-item img{
  width: 100%;
  margin-bottom: 16px;
}
.bng-item p{
  font-family: "Kaisei";
  font-size: 20px;
  color: black;
  margin-bottom: 8px;
}
.bng-item span{
  font-family: "Kaisei";
  font-size: 14px;
  margin-bottom: 4px;
}
/* BnG */
/* LOVE STORY */
.love-story{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-image: url(./img/Background.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.love-story .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.love-story .box-love-story{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  gap: 24px;
  margin-top: 32px;
  overflow: visible;
}
.love-story .box-love-story .cover-love-story{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 0 24px;
  overflow: visible;
  margin-bottom: 40px;
}
.love-story .box-love-story .cover-love-story img{
  width: 100%;
}
.love-story .box-love-story .cover-love-story .title-love-story{
  font-family: Kaisei;
  opacity: 1;
  font-size: 20px;
  margin-top: 8px;
  position: relative;
  z-index: 3;
}
.love-story .box-love-story .cover-love-story span{
  font-family: poppins;
  font-size: 14px;
  opacity: .6;
  margin-bottom: 8px;
  margin-top: 4px;
}
.love-story .box-love-story .cover-love-story .normal-love-story{
  font-family: poppins;
  font-size: 14px;
  opacity: .8;
  margin-bottom: 8px;
  position: relative;
  z-index: 3;
}
.hiasan{
  position: absolute;
  z-index: 0;
}
.hiasan1,
.hiasan3{
  right: -10%;
  top: -2%;
}
.hiasan2,
.hiasan4{
  left: -10%;
  top: 0%;
}
/* LOVE STORY */
/* TIMELINE */
.timeline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 0;
}
.timeline .container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.timeline .container .item-timeline{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 64px;
  width: 100%;
  gap: 12px;
}
.timeline .container .item-timeline.revs{
  justify-content: flex-end;
  align-items: flex-end;
}
.timeline .container .item-timeline .title-timeline{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.timeline .container .item-timeline .title-timeline p{
  font-family: "Kaisei";
  font-size: 20px;
  color: #181818;
  text-align: left;
}
.timeline .container .item-timeline.revs .title-timeline p {
  text-align: right;
}
.timeline .container .item-timeline .detail-timeline{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.timeline .container .item-timeline .detail-timeline p{
  font-size: 16px;
  color: #181818;
}
.timeline .container .item-timeline .detail-timeline img{
  height: 16px;
}
.timeline .container .item-timeline iframe{
  width: 100%;
  aspect-ratio: 4 / 4;
}
/* TIMELINE */
/* LIVE */
.live{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/Background.png);
  width: 100%;
  padding: 40px 0;
  background-size: cover;
  background-position: center;
}
.live .container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.live .container .main-img-live{
  width: 100%;
  margin: 40px 0;
}
.live .container .item-live{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.live .container .item-live .title{
  display: flex;
  flex-direction: row;
  color: #181818;
  font-family: "Kaisei";
  gap: 8px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.live .container .item-live .title span{
  font-family: "Allura";
  color: #C18742;
  font-size: 28px;
}
.live .container .item-live p{
  font-family: "Kaisei";
  font-size: 14px;
}
.live .container .item-live a{
  text-decoration: none;
}
.live .container .item-live a button{
  background-color: #C18742;
  padding: 12px 32px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  margin-bottom: 32px;
}
.live .container .item-live a button p{
  font-size: 14px;
  color: white;
}
.live .container .item-live a button img{
  height: 18px;
  width: unset;
}
/* LIVE */
/* GALLERY */
.gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.gallery .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery .container .box-gallery{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.gallery .container .box-gallery .ts-gallery{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.gallery .container .box-gallery .ts-gallery img{
  width: calc(100% / 2 - 4px);
}
.gallery .container .box-gallery .solo-gallery{
  display: flex;
  width: 100%;
}
.gallery .container .box-gallery .solo-gallery img{
  width: 100%;
}
.gallery .container .box-gallery .mix-gallery{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 8px;
}
.gallery .container .box-gallery .mix-gallery img{
  object-fit: cover;
}
.gallery .container .box-gallery .mix-gallery .width{
  width: 100%;
  height: unset;
}
.gallery-zoom{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
  background-color: rgba(19, 19, 19, 0.7);
  top: 0;
  left: 0;
  padding: 32px 12px;
  justify-content: center;
  opacity: 0;
}
#exit-zoom{
  background-color: transparent;
  border: none;
  display: flex;
  justify-self: flex-start;
  align-self: flex-end;
  width: 40px;
  justify-content: flex-end;
  align-items: flex-end;
}
#exit-zoom img{
  width: 50%;
}
.gallery-zoom .core-zoom{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}
.gallery-zoom .core-zoom img{
  min-width: 100%;
}
.gallery-zoom .navigation-zoom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: calc(100vw - 12px);
  justify-self: center;
  align-self: center;
}
.gallery-zoom .navigation-zoom button{
  background-color: rgba(245, 245, 245, 0.425);
  border: none;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}
.gallery-zoom .navigation-zoom button img{
  width: 55%;
}
/* GALLERY */
.reservasi{
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  background-image: url(./img/Background.png);
  background-size: cover;
  background-position: center;
  width: 100%;
}
.reservasi .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservasi .container .sambutan{
  font-family: "Kaisei";
  font-size: 14px;
  color: #181818;
  margin: 24px 0;
  text-align: center;
}
.reservasi .container form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  margin-bottom: 24px;
}
.reservasi .container form input{
  width: 100%;
  padding: 8px 12px;
  font-family: "Kaisei";
  color: #181818;
  border-radius: 2px;
}
.reservasi .container form textarea{
  width: 100%;
  height: 120px;
  padding: 8px 12px;
  font-family: "Kaisei";
  font-size: 14px;
}
.reservasi .container form button{
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C18742;
  border-radius: 4px;
  font-family: "Kaisei";
  color: white;
  font-size: 14px;
}
.box-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  max-height: 60vh;
  overflow: scroll;
  position: relative;
  z-index: 2;
}
.box-text .item-text{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
  padding: 12px 0;
}
.box-text .item-text img{
  height: 32px;
}
.box-text .item-text span{
  font-family: "Kaisei";
  font-size: 16px;
}
.box-text .item-text p{
  font-family: "Kaisei";
  font-size: 14px;
  margin-top: 8px;
}
.kehadiran{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  margin: 12px 0;
}
.kehadiran .cover_kehadiran{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.reservasi .container .kehadiran .cover_kehadiran input{
  width: unset;
}
/* RESERVASI */
/* GIFT */
.gift{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #C18742;
  padding: 40px 0;
}
.gift .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gift .container .alpa p{
  color: white;
}
.gift .sambutan{
  margin: 24px 0;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: "Kaisei";
}
.gift .option{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 24px;
}
.gift .option p.main{
  font-family: "Kaisei";
  font-size: 16px;
  color: white;
}
.gift .option p.sub-main{
  margin-bottom: 8px;
}
.gift .option p{
  font-family: "Kaisei";
  font-size: 14px;
  color: whitesmoke;
}
.gift .option .box-option{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.gift .option .box-option .rekening{
  display: flex;
  flex-direction: column;
  min-width: calc(100% / 2);
}
.gift .option .box-option .rekening .no-rekening{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
}
.gift .option .box-option .rekening .no-rekening button{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift .option .box-option .rekening .no-rekening button image{
  height: 16px;
}
.gift .option a{
  color: whitesmoke;
  font-family: "Kaisei";
  font-size: 14px;
}
/* GIFT */
/* FOOTER */
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}
footer .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .container .logo{
  margin-bottom: 16px;
}
footer .container p{
  font-family: "Kaisei";
  color: #181818;
  font-size: 14px;
  text-align: center;
  margin-bottom: 8px;
}
footer .container .sosial-media{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
footer .container .sosial-media a{
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
footer .container .sosial-media a img{
  height: 16px;
}
footer .container .sosial-media a p{
  margin-bottom: 0;
}
/* FOOTER */
/* UTILS */
.alert{
  padding: 20px 48px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  justify-self: center;
  align-self: center;
  margin: 50vh 50vw;
  background-color: rebeccapurple;
}