<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../templates/001A/style.css">
  <!-- AOS -->
  <link rel="stylesheet" href="../utils/aos.css">
  <title>White Serenity Template | Weddingweb.id</title>
</head>
<body>
  <main>
    <!-- SNOW -->
    <div id="snow-animation-container"></div>
    <!-- SNOW -->
    <!-- MUSIC SWITCH -->
    <button class="music musicOn">
      <img src="../templates/001A/svg/Music.svg" alt="">
      <!-- <audio controls autoplay loop>
        <source src="../templates/001A/audio/Penjaga_Hati-Nadhif-Basalamah.mp3" type="audio/mpeg">
      </audio> -->
    </button>
    <!-- MUSIC SWITCH -->
    <!-- HERO -->
    <div class="hero-section" style="background-image: url(../templates/001A/img/hero-cover.png);">
      <div class="container">
        <div class="box-hero-section">
          <span>The Wedding of</span>
          <p class="main-hero">Rai <span>&</span> Dewi</p>
          <p class="sub-text">Minggu 26 November 2023</p>
          <p class="sub-text">Ballroom Kuta Spot</p>
          <a href="#konfirmasi">
            <button>Konfirmasi Kehadiran</button>
          </a>
        </div>
      </div>
    </div>
    <!-- HERO -->
    <!-- COUNTDOWN -->
    <div class="countdown">
      <div class="container" data-aos="fade-up" data-aos-duration="600">
        <div class="main-title-template">
          <img src="../templates/001A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Save the Date</p>
          <img src="../templates/001A/svg/Line.svg" alt="" class="line">
          <p class="sub-title">Hitung Mundur Acara</p>
        </div>
        <div class="box-time">
          <div class="item-time" data-aos="fade-up" data-aos-duration="1200">
            <p>14</p>
            <span>Detik</span>
          </div>
          <div class="item-time" data-aos="fade-up" data-aos-duration="1800">
            <p>24</p>
            <span>Menit</span>
          </div>
          <div class="item-time" data-aos="fade-up" data-aos-duration="2400">
            <p>8</p>
            <span>Jam</span>
          </div>
          <div class="item-time" data-aos="fade-up" data-aos-duration="3000">
            <p>7</p>
            <span>Hari</span>
          </div>
        </div>
      </div>
    </div>
    <!-- COUNTDOWN -->
    <!-- BnG -->
    <div class="BnG" style="background-image: url(../templates/001A/img/bng-cover.png);">
      <div class="container">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/001A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Bride & Groom</p>
          <img src="../templates/001A/svg/Line.svg" alt="" class="line">
          <p class="sub-title">Mempelai Pengantin</p>
        </div>
        <div class="bng-item" data-aos="fade-left" data-aos-duration="1200">
          <img src="../templates/001A/img/groom.png" alt="">
          <p>Aditya Wijaya Pratama</p>
          <span>Putra dari :</span>
          <span>Bapak Budi Pramudya Surya Negara</span>
          <span>Ibu Anindya Paramitha Utami Wirawan</span>
        </div>
        <div class="bng-item" data-aos="fade-right" data-aos-duration="1200">
          <img src="../templates/001A/img/bride.png" alt="">
          <p>Isabella Putri Rahayu Surya</p>
          <span>Putri dari :</span>
          <span>Bapak Raditya Pramudito Wibowo</span>
          <span>Ibu Gabriella Permata Dewi Kusuma</span>
        </div>
      </div>
    </div>
    <!-- BnG -->
    <!-- LOVE STORY -->
    <div class="love-story">
      <div class="container">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/001A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Love Story</p>
          <img src="../templates/001A/svg/Line.svg" alt="" class="line">
          <p class="sub-title">Perjalanan Cinta</p>
        </div>
      </div>
      <div class="box-love-story upContainer" data-aos="fade" data-aos-duration="1200">
        <div class="cover-love-story">
          <img src="../templates/001A/img/ls-1.png" alt="">
          <p class="title-love-story">Chapter 1 - First Meet</p>
          <span>2019</span>
          <p class="normal-love-story">Kisah cinta kami bisa dibilang sebuah kisah cinta yang unik dan menarik. Siapa yang menyangka dua insan yang awalnya
          saling tidak mengenal dan dipisahkan oleh kampus yang bahkan sangat berjauhan bisa sama sama mencintai satu sama
          lainnya?</p>
          <p class="normal-love-story">Yap kami berdua dipertemukan disebuah acara kunjungan kampus pada saat itu</p>
          <div class="hiasan hiasan1">
            <img src="../templates/001A/img/hias-1.png" alt="">
          </div>
          <div class="hiasan hiasan2">
            <img src="../templates/001A/img/hias-2.png" alt="">
          </div>
        </div>
        <div class="cover-love-story">
          <img src="../templates/001A/img/ls-2.png" alt="">
          <p class="title-love-story">Chapter 2 - Pernyataan Cinta</p>
          <span>2019</span>
          <p class="normal-love-story">Kala itu ditengah senja, tepat dihari kampusku akan pergi dari kampusnya, dirinya tiba - tiba menelfonku dan memintaku
          untuk datang ke lantai atas</p>
          <p class="normal-love-story">“Mau ngapain?”, seperti itu kiranya diriku menjawab, namun tidakn ada rasa curiga sedikitpun dalam benakku akan
          permintaan tersebut</p>
          <p class="normal-love-story">Dan benarnya, buket bunga berwarna putih ditangan pria serta spanduk bertuliskan “May u be my gf” yang dipegang oleh
          temannya sungguh membuatku ingin tertawa sekaligus menangis. Dia adalah pria yang aku cari selama ini</p>
          <div class="hiasan hiasan3">
            <img src="../templates/001A/img/hias-3.png" alt="">
          </div>
          <div class="hiasan hiasan4">
            <img src="../templates/001A/img/hias-4.png" alt="">
          </div>
        </div>
        <div class="cover-love-story">
          <img src="../templates/001A/img/ls-3.png" alt="">
          <p class="title-love-story">Chapter 3 - Pernikahan</p>
          <span>2023</span>
          <p class="normal-love-story">Moment yang aku tunggu tunggu akhirnya tiba, janji suci yang selama ini diriku inginkan akhirnya akan segera terwujud.
          Sebuah janji yang akan mengikat kita berdua hingga maut memisahkan, sebuah pernikahan</p>
          <p class="normal-love-story">Sebenarnya aku sempat bercanda dengan dirinya. “Kalo gak nikah tahun ini, aku gamau sama kamu”, ya begitu kira kira yang
          aku sampaikan. Tapi siapa sangka, keesokan harinya dirinya datang bersama calon mertuaku guna melamar diriku menjadi
          istrinya</p>
          <p class="normal-love-story">“Sungguh pria yang gila, namun itulah yang membuatku begitu menyayanginya”</p>
          <div class="hiasan hiasan1">
            <img src="../templates/001A/img/hias-1.png" alt="">
          </div>
          <div class="hiasan hiasan2">
            <img src="../templates/001A/img/hias-2.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- LOVE STORY -->
    <!-- TIMELINE --> 
    <div class="timeline">
      <div class="container">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/001A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Event Timeline</p>
          <img src="../templates/001A/svg/Line.svg" alt="" class="line">
          <p class="sub-title">Rangkaian Acara</p>
        </div>
        <!-- SEKAT -->
        <div class="item-timeline upContainer" data-aos="fade-up" data-aos-duration="600">
          <div class="title-timeline">
            <p>AKAD NIKAH</p>
            <img src="../templates/001A/svg/Rias-1.svg" alt="">
          </div>
          <div class="detail-timeline">
            <img src="../templates/001A/svg/Calendar.svg" alt="">
            <p>Rabu, 22 November 2023</p>
          </div>
          <div class="detail-timeline">
            <img src="../templates/001A/svg/Location.svg" alt="">
            <p>Masjid Ar-Rahmat Kuta Bali</p>
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.756715181729!2d115.17882387410896!3d-8.714637191334646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd246b641220b71%3A0xed704af89895e85c!2sMasjid%20Ar-Rahmat%20Kuta%20Bali!5e0!3m2!1sid!2sid!4v1701263921141!5m2!1sid!2sid"
            style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
        <!-- SEKAT -->
        <div class="item-timeline upContainer revs" data-aos="fade-up" data-aos-duration="600">
          <div class="title-timeline">
            <img src="../templates/001A/svg/Rias-2.svg" alt="">
            <p>RESEPSI PERNIKAHAN</p>
          </div>
          <div class="detail-timeline">
            <p>Minggu, 26 November 2023</p>
            <img src="../templates/001A/svg/Calendar.svg" alt="">
          </div>
          <div class="detail-timeline">
            <p>Masjid Ar-Rahmat Kuta Bali</p>
            <img src="../templates/001A/svg/Location.svg" alt="">
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.756715181729!2d115.17882387410896!3d-8.714637191334646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd246b641220b71%3A0xed704af89895e85c!2sMasjid%20Ar-Rahmat%20Kuta%20Bali!5e0!3m2!1sid!2sid!4v1701263921141!5m2!1sid!2sid"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <!-- TIMELINE -->
    <!-- LIVE MOMENTS -->
    <div class="live">
      <div class="container upContainer">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/001A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Live Moments</p>
          <img src="../templates/001A/svg/Line.svg" alt="" class="line">
          <p class="sub-title">Live dan Filter</p>
        </div>
        <img src="../templates/001A/img/live.png" alt="" class="main-img-live" data-aos="fade" data-aos-duration="1100">
        <div class="item-live" data-aos="fade-right" data-aos-duration="600">
          <p class="title">Live <span>Streaming</span></p>
          <p>Temui kami secara virtual untuk menyaksikan acara pernikahan kami. Silahkan untuk join live streaming.</p>
          <a href="">
            <button>
              <p>Join Live</p>
              <img src="../templates/001A/svg/Arrow.svg" alt="">
            </button>
          </a>
        </div>
        <div class="item-live" data-aos="fade-right" data-aos-duration="600">
          <p class="title">Instagram <span>Filter</span></p>
          <p>Gunakan filter Intagram eksklusif kami sekarang juga! Bagikan moment bahagiamu bersama kami!</p>
          <a href="">
            <button>
              <p>Join Live</p>
              <img src="../templates/001A/svg/Arrow.svg" alt="">
            </button>
          </a>
        </div>
      </div>
    </div>
    <!-- LIVE MOMENTS -->
    <!-- GALERY -->
    <div class="gallery">
      <div class="container">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/001A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Galley Photo</p>
          <img src="../templates/001A/svg/Line.svg" alt="" class="line">
          <p class="sub-title">Album Foto</p>
        </div>
        <div class="box-gallery">
          <div class="ts-gallery" data-aos="fade-up" data-aos-duration="600">
            <img src="../templates/001A/img/galery.png" alt="">
            <img src="../templates/001A/img/galery.png" alt="">
          </div>
          <div class="solo-gallery" data-aos="fade-up" data-aos-duration="600">
            <img src="../templates/001A/img/galery.png" alt="">
          </div>
          <div class="mix-gallery" data-aos="fade-up" data-aos-duration="600">
            <img src="../templates/001A/img/galery.png" alt="" class="width">
            <img src="../templates/001A/img/galery-2.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- GALERY -->
    <!-- RSPV -->
    <div class="reservasi">
      <div class="container">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/001A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Confirm Attedance</p>
          <img src="../templates/001A/svg/Line.svg" alt="" class="line">
          <p class="sub-title">Konfirmasi Kehadiran</p>
        </div>
        <p class="sambutan" data-aos="fade" data-aos-duration="600">Merupakan sebuah kehormatan besar bagi kami bila Anda berkenan untuk hadir pada acara kami. Silahkan isi konfirmasi kehadiran pada form dibawah ini</p>
        <form id="rspv" class="upContainer" data-aos="fade-up" data-aos-duration="800">
          <input type="text" placeholder="Nama anda" name="name" required>
          <input type="text" placeholder="Asal anda" name="address" required>
          <div class="kehadiran">
            <div class="cover_kehadiran">
              <input type="radio" name="rspv_list" id="hadir">
              <label for="hadir">Saya bersedia untuk hadir</label>
            </div>
            <div class="cover_kehadiran">
              <input type="radio" name="rspv_list" id="tidak_hadir">
              <label for="tidak_hadir">Maaf, Saya belum bisa hadir</label>
            </div>
          </div>
          <button type="submit">Konfirmasi Via WA</button>
          <input type="hidden" name="id" value="<%= id %>">
        </form>
      </div>
    </div>
    <!-- RSPV -->
    <!-- GIFT -->
    <div class="gift">
      <div class="container">
        <div class="main-title-template alpa" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/001A/svg/Head-Alpa.svg" alt="" class="head">
          <p class="main-title">Blezing Gift</p>
          <img src="../templates/001A/svg/Line-Alpa.svg" alt="" class="line">
          <p class="sub-title">Kirim Hadiah</p>
        </div>
        <p class="sambutan" data-aos="fade-up" data-aos-duration="600">
          Terimakasih untuk hadiah spesial yang Anda berikan kepada pasangan kami!
        </p>
        <div class="option upContainer" data-aos="fade-right" data-aos-duration="600">
          <p class="main">Direct Transfer <span></span></p>
          <p class="sub-main">Transfer langsung menuju rekening berikut :</p>
          <div class="box-option">
            <div class="rekening">
              <p>BCA</p>
              <div class="no-rekening">
                <p id="rek1">06612345678</p>
                <button onclick="navigator.clipboard.writeText(document.getElementById('rek1').innerHTML)">
                  <img src="../templates/001A/svg/Copy.svg" alt="">
                </button>
              </div>
              <p>A/N Jojon prowiro</p>
            </div>
            <div class="rekening">
              <p>BCA</p>
              <div class="no-rekening">
                <p id="rek1">06612345678</p>
                <button onclick="navigator.clipboard.writeText(document.getElementById('rek1').innerHTML)">
                  <img src="../templates/001A/svg/Copy.svg" alt="">
                </button>
              </div>
              <p>A/N Jojon prowiro</p>
            </div>
          </div>
        </div>
        <div class="option upContainer" data-aos="fade-right" data-aos-duration="600">
          <p class="main">Send Gift</p>
          <p class="sub-main">Kirim kado secara langsung ke alamat berikut :</p>
          <a href="">Jl. Gadung No 3, Denpasar Utara, <br>Kota Denpasar Bali</a>
        </div>
      </div>
    </div>
    <!-- GIFT -->
    <!-- RESERVASI -->
    <div class="reservasi">
      <div class="container">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/001A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Sweet Word</p>
          <img src="../templates/001A/svg/Line.svg" alt="" class="line">
          <p class="sub-title">Ucapan Selamat</p>
        </div>
        <p class="sambutan" data-aos="fade" data-aos-duration="600">
          Berikan ucapan selamat dan rasa bahagiamu atas pernikahan Aditya dan Isabella melalui kolom berikut ini. Seluruh ucapan
          selamat akan secara langsung muncul di layar
        </p>
        <form id="form" class="upContainer" data-aos="fade-up" data-aos-duration="800">
          <input type="text" placeholder="Nama anda" name="name" required>
          <input type="text" placeholder="Asal anda" name="address" required>
          <textarea name="message" id="" placeholder="Ucapan selamat" required></textarea>
          <button type="submit">Kirim Ucapan</button>
          <input type="hidden" name="id" value="<%= id %>">
        </form>
        <div class="box-text" data-aos="fade-up" data-aos-duration="600">
          
          <% data.forEach(chat=> { %>
          <div class="item-text">
            <img src="../templates/001A/svg/Letter.svg" alt="">
            <div class="content-text">
              <span><%= chat.name  %></span>
              <p><%= chat.message %></p>
            </div>
          </div>
          <% }) %>
          
        </div>
      </div>
    </div>
    <!-- RESERVASI -->
    <!-- FOOTER -->
    <footer>
      <div class="container">
        <img src="../templates/001A/svg/Logo.svg" alt="" class="logo">
        <p>Merupakan suatu kehormatan dan kebahagiaan bagi kami karena telah dapat andil dalam membantu menyukseskan acara
        Bapak/Ibu/Saudara/i</p>
        <div class="sosial-media">
          <p>Temukan kami di :</p>
          <a href="">
            <img src="../templates/001A/svg/Instagram.svg" alt="">
            <p>@weddingweb.id</p>
          </a>
          <a href="">
            <img src="../templates/001A/svg/Whatsapp.svg" alt="">
            <p>+62 8956-2277-1393</p>
          </a>
        </div>
      </div>
    </footer>
    <!-- FOOTER -->
  </main>
  <script src="../utils/aos.js"></script>
  <script src="../templates/001A/script.js"></script>
  <script>
    AOS.init()
  </script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.29/bundled/lenis.min.js"></script> -->
  <!-- <script src="../templates/001A/util/snow/script.js"></script> -->
</body>
</html>