<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../templates/002A/style.css">
  <!-- AOS -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <title>White Serenity Template | Weddingweb.id</title>
</head>
<body>
  <main>
    <!-- SNOW -->
    <div id="snow-animation-container"></div>
    <!-- SNOW -->
    <!-- MUSIC SWITCH -->
    <button class="music musicOn">
      <img src="../templates/002A/svg/Music.svg" alt="">
      <!-- <audio controls autoplay loop>
        <source src="../templates/002A/audio/Penjaga_Hati-Nadhif-Basalamah.mp3" type="audio/mpeg">
      </audio> -->
    </button>
    <!-- MUSIC SWITCH -->
    <!-- HERO -->
    <div class="hero-section" style="background-image: url(../templates/002A/img/hero-cover.png);">
      <div class="container">
        <div class="box-hero-section">
          <span>The Wedding of</span>
          <p class="main-hero">Rai <span>&</span> Dewi</p>
          <p class="sub-text">Minggu 26 November 2023</p>
          <p class="sub-text">Ballroom Kuta Spot</p>
          <a href="#konfirmasi">
            <button>Konfirmasi Kehadiran</button>
          </a>
        </div>
      </div>
    </div>
    <!-- HERO -->
    <!-- COUNTDOWN -->
    <div class="countdown">
      <div class="container" data-aos="fade-up" data-aos-duration="600">
        <div class="main-title-template">
          <img src="../templates/002A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Save the Date</p>
          <div class="sub-title">
            <img src="../templates/002A/svg/Dot.svg" alt="">
            <p>Hitung Mundur Acara</p>
            <img src="../templates/002A/svg/Dot.svg" alt="">
          </div>
        </div>
        <div class="box-time">
          <div class="item-time" data-aos="fade-up" data-aos-duration="1200">
            <p>14</p>
            <span>Detik</span>
          </div>
          <div class="item-time" data-aos="fade-up" data-aos-duration="1800">
            <p>24</p>
            <span>Menit</span>
          </div>
          <div class="item-time" data-aos="fade-up" data-aos-duration="2400">
            <p>8</p>
            <span>Jam</span>
          </div>
          <div class="item-time" data-aos="fade-up" data-aos-duration="3000">
            <p>7</p>
            <span>Hari</span>
          </div>
        </div>
      </div>
    </div>
    <!-- COUNTDOWN -->
    <!-- BnG -->
    <div class="BnG" style="background-image: url(../templates/002A/img/bng-cover.png);">
      <div class="container">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/002A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Bride & Groom</p>
          <div class="sub-title">
            <img src="../templates/002A/svg/Dot.svg" alt="">
            <p>Mempelai Pengantin</p>
            <img src="../templates/002A/svg/Dot.svg" alt="">
          </div>
        </div>
        <div class="bng-item groom" data-aos="fade-left" data-aos-duration="1200">
          <img src="../templates/002A/img/groom.png" alt="">
          <p>Aditya Wijaya Pratama</p>
          <span>Putra dari :</span>
          <span>Bapak Budi Pramudya Surya Negara</span>
          <span>Ibu Anindya Paramitha Utami Wirawan</span>
        </div>
        <div class="bng-item bride" data-aos="fade-right" data-aos-duration="1200">
          <img src="../templates/002A/img/bride.png" alt="">
          <p>Isabella Putri Rahayu Surya</p>
          <span>Putri dari :</span>
          <span>Bapak Raditya Pramudito Wibowo</span>
          <span>Ibu Gabriella Permata Dewi Kusuma</span>
        </div>
      </div>
    </div>
    <!-- BnG -->
    <!-- LOVE STORY -->
    <div class="love-story">
      <div class="container">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/002A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Love Story</p>
          <div class="sub-title">
            <img src="../templates/002A/svg/Dot.svg" alt="">
            <p>Perjalanan Cinta</p>
            <img src="../templates/002A/svg/Dot.svg" alt="">
          </div>
        </div>
        <div class="box-love-story upContainer" data-aos="fade" data-aos-duration="1200">
          <img src="../templates/002A/img/ls-1.png" alt="" class="ls-img">
          <div class="detail-love-story">
            <p class="title-love-story">Chapter 01</p>
            <p>Cerita kami dimulai dengan pertemuan singkat di bangku kuliah</p>
            <div class="navigation upContainer">
              <button class="left">
                <img src="../templates/002A/svg/Arrow.svg" alt="">
              </button>
              <button class="right">
                <img src="../templates/002A/svg/Arrow.svg" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- LOVE STORY -->
    <!-- TIMELINE --> 
    <div class="timeline">
      <div class="container">
        <div class="main-title-template alpa" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/002A/svg/Head-Alpa.svg" alt="" class="head">
          <p class="main-title">Event Timeline</p>
          <div class="sub-title">
            <img src="../templates/002A/svg/Dot-Alpa.svg" alt="">
            <p>Rangkaian Acara</p>
            <img src="../templates/002A/svg/Dot-Alpa.svg" alt="">
          </div>
        </div>
        <!-- SEKAT -->
        <div class="item-timeline upContainer" data-aos="fade-up" data-aos-duration="600">
          <div class="title-timeline">
            <p>AKAD NIKAH</p>
            <img src="../templates/002A/svg/Rias-1.svg" alt="">
          </div>
          <div class="detail-timeline">
            <img src="../templates/002A/svg/Calendar.svg" alt="">
            <p>Rabu, 22 November 2023</p>
          </div>
          <div class="detail-timeline">
            <img src="../templates/002A/svg/Location.svg" alt="">
            <p>Masjid Ar-Rahmat Kuta Bali</p>
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.756715181729!2d115.17882387410896!3d-8.714637191334646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd246b641220b71%3A0xed704af89895e85c!2sMasjid%20Ar-Rahmat%20Kuta%20Bali!5e0!3m2!1sid!2sid!4v1701263921141!5m2!1sid!2sid"
            style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
        <!-- SEKAT -->
        <div class="item-timeline upContainer revs" data-aos="fade-up" data-aos-duration="600">
          <div class="title-timeline">
            <img src="../templates/002A/svg/Rias-2.svg" alt="">
            <p>RESEPSI PERNIKAHAN</p>
          </div>
          <div class="detail-timeline">
            <p>Minggu, 26 November 2023</p>
            <img src="../templates/002A/svg/Calendar.svg" alt="">
          </div>
          <div class="detail-timeline">
            <p>Masjid Ar-Rahmat Kuta Bali</p>
            <img src="../templates/002A/svg/Location.svg" alt="">
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.756715181729!2d115.17882387410896!3d-8.714637191334646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd246b641220b71%3A0xed704af89895e85c!2sMasjid%20Ar-Rahmat%20Kuta%20Bali!5e0!3m2!1sid!2sid!4v1701263921141!5m2!1sid!2sid"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <!-- TIMELINE -->
    <!-- LIVE MOMENTS -->
    <div class="live">
      <div class="container upContainer">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/002A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Live Moments</p>
          <div class="sub-title">
            <img src="../templates/002A/svg/Dot.svg" alt="">
            <p>Live dan Filter</p>
            <img src="../templates/002A/svg/Dot.svg" alt="">
          </div>
        </div>
        <img src="../templates/002A/img/live.png" alt="" class="main-img-live" data-aos="fade" data-aos-duration="1100">
        <div class="item-live" data-aos="fade-right" data-aos-duration="600">
          <p class="title">Live <span>Streaming</span></p>
          <p>Temui kami secara virtual untuk menyaksikan acara pernikahan kami. Silahkan untuk join live streaming.</p>
          <a href="">
            <button>
              <p>Join Live</p>
              <img src="../templates/002A/svg/Arrow.svg" alt="">
            </button>
          </a>
        </div>
        <div class="item-live" data-aos="fade-right" data-aos-duration="600">
          <p class="title">Instagram <span>Filter</span></p>
          <p>Gunakan filter Intagram eksklusif kami sekarang juga! Bagikan moment bahagiamu bersama kami!</p>
          <a href="">
            <button>
              <p>Join Live</p>
              <img src="../templates/002A/svg/Arrow.svg" alt="">
            </button>
          </a>
        </div>
      </div>
    </div>
    <!-- LIVE MOMENTS -->
    <!-- GALERY -->
    <div class="gallery">
      <div class="container">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/002A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Galley Photo</p>
          <div class="sub-title">
            <img src="../templates/002A/svg/Dot.svg" alt="">
            <p>Album Foto</p>
            <img src="../templates/002A/svg/Dot.svg" alt="">
          </div>
        </div>
        <div class="box-gallery">
          <div class="ts-gallery" data-aos="fade-up" data-aos-duration="600">
            <img src="../templates/002A/img/gallery-1.png" alt="">
            <img src="../templates/002A/img/gallery-2.png" alt="">
          </div>
          <div class="solo-gallery" data-aos="fade-up" data-aos-duration="600">
            <img src="../templates/002A/img/gallery-3.png" alt="">
          </div>
          <div class="mix-gallery" data-aos="fade-up" data-aos-duration="600">
            <img src="../templates/002A/img/gallery-4.png" alt="">
            <img src="../templates/002A/img/gallery-6.png" alt="" class="width">
          </div>
          <div class="mix-gallery" data-aos="fade-up" data-aos-duration="600">
            <img src="../templates/002A/img/gallery-1.png" alt="" class="width">
            <img src="../templates/002A/img/gallery-5.png" alt="">
          </div>
          <div class="ts-gallery" data-aos="fade-up" data-aos-duration="600">
            <img src="../templates/002A/img/gallery-3.png" alt="">
            <img src="../templates/002A/img/gallery-1.png" alt="">
          </div>
          <div class="solo-gallery" data-aos="fade-up" data-aos-duration="600">
            <img src="../templates/002A/img/gallery-2.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- GALERY -->
    <!-- RESERVASI -->
    <div class="reservasi">
      <div class="container">
        <div class="main-title-template" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/002A/svg/Head.svg" alt="" class="head">
          <p class="main-title">Sweet Word</p>
          <div class="sub-title">
            <img src="../templates/002A/svg/Dot.svg" alt="">
            <p>Ucapan Selamat</p>
            <img src="../templates/002A/svg/Dot.svg" alt="">
          </div>
        </div>
        <p class="sambutan" data-aos="fade" data-aos-duration="600">
          Berikan ucapan selamat dan rasa bahagiamu atas pernikahan Aditya dan Isabella melalui kolom berikut ini. Seluruh ucapan
          selamat akan secara langsung muncul di layar
        </p>
        <form class="upContainer" id="form" data-aos="fade-up" data-aos-duration="800">
          <input type="text" placeholder="Nama anda" required>
          <input type="text" placeholder="Asal anda" required>
          <textarea name="" id="" placeholder="Ucapan selamat" required></textarea>
          <button type="submit">Kirim Ucapan</button>
        </form>
        <div class="box-text" data-aos="fade-up" data-aos-duration="600">
          <% data.forEach(chat=>{ %>
          <div class="item-text">
            <img src="../templates/002A/svg/Letter.svg" alt="">
            <div class="content-text">
              <span><%= chat.name %></span>
              <p><%= chat.message %></p>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <!-- RESERVASI -->
    <!-- GIFT -->
    <div class="gift">
      <div class="container">
        <div class="main-title-template alpa" data-aos="fade-up" data-aos-duration="600">
          <img src="../templates/002A/svg/Head-Alpa.svg" alt="" class="head">
          <p class="main-title">Blessing Gift</p>
          <div class="sub-title">
            <img src="../templates/002A/svg/Dot-Alpa.svg" alt="">
            <p>Kirim Hadiah</p>
            <img src="../templates/002A/svg/Dot-Alpa.svg" alt="">
          </div>
        </div>
        <p class="sambutan" data-aos="fade-up" data-aos-duration="600">
          Terimakasih untuk hadiah spesial yang Anda berikan kepada pasangan kami!
        </p>
        <div class="option upContainer" data-aos="fade-right" data-aos-duration="600">
          <p class="main">Direct Transfer <span></span></p>
          <p class="sub-main">Transfer langsung menuju rekening berikut :</p>
          <div class="box-option">
            <div class="rekening">
              <p>BCA</p>
              <div class="no-rekening">
                <p id="rek1">06612345678</p>
                <button onclick="navigator.clipboard.writeText(document.getElementById('rek1').innerHTML)">
                  <img src="../templates/002A/svg/Copy.svg" alt="">
                </button>
              </div>
              <p>A/N Jojon prowiro</p>
            </div>
            <div class="rekening">
              <p>BCA</p>
              <div class="no-rekening">
                <p id="rek1">06612345678</p>
                <button onclick="navigator.clipboard.writeText(document.getElementById('rek1').innerHTML)">
                  <img src="../templates/002A/svg/Copy.svg" alt="">
                </button>
              </div>
              <p>A/N Jojon prowiro</p>
            </div>
          </div>
        </div>
        <div class="option upContainer" data-aos="fade-right" data-aos-duration="600">
          <p class="main">Send Gift</p>
          <p class="sub-main">Kirim kado secara langsung ke alamat berikut :</p>
          <a href="">Jl. Gadung No 3, Denpasar Utara, <br>Kota Denpasar Bali</a>
        </div>
      </div>
    </div>
    <!-- GIFT -->
    <!-- FOOTER -->
    <footer>
      <div class="container">
        <img src="../templates/002A/svg/Logo.svg" alt="" class="logo">
        <p>Merupakan suatu kehormatan dan kebahagiaan bagi kami karena telah dapat andil dalam membantu menyukseskan acara
        Bapak/Ibu/Saudara/i</p>
        <div class="sosial-media">
          <p>Temukan kami di :</p>
          <a href="">
            <img src="../templates/002A/svg/Instagram.svg" alt="">
            <p>@weddingweb.id</p>
          </a>
          <a href="">
            <img src="../templates/002A/svg/Whatsapp.svg" alt="">
            <p>+62 8956-2277-1393</p>
          </a>
        </div>
      </div>
    </footer>
    <!-- FOOTER -->
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.29/bundled/lenis.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="../templates/002A/util/snow/script.js"></script>
  <script>
    const lenis = new Lenis()
      function raf(time) {
        lenis.raf(time)
        requestAnimationFrame(raf)
      }
      requestAnimationFrame(raf)
      AOS.init();
  </script>
  <script src="../templates/002A/script.js"></script>
</body>
</html>
  </main>
</body>
</html>