<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../templates/005A/style.css">
  <!-- AOS -->
  <link rel="stylesheet" href="../utils/aos.css" />
  <title>White Serenity Template | Weddingweb.id</title>
</head>
<body>
  <!-- HERO -->
  <div class="hero-section bg-full">
    <div class="container">
      <img src="../templates/005A/img/hero-image.png" alt="">
      <div class="box-hero-section">
        <span>The Wedding of</span>
        <p class="main-hero">Rai <span>&</span> Dewi</p>
        <p class="sub-text">Minggu 26 November 2023</p>
        <p class="sub-text">Ballroom Kuta Spot</p>
      </div>
    </div>
  </div>
  <!-- HERO -->
  <!-- INTRODUCTION -->
  <div class="introduction colour">
    <div class="container">
      <img src="../templates/005A/img/logo.png" alt="">
      <div class="text-introduction">
        <img src="../templates/005A/svg/Kutip.svg" alt="">
        <p>Riak malam yang damai, tawa ceria di siang hari akan menjadi kebahagiaan yang tiada tara tatkala semua ada dalam
        pernikahan.</p>
        <img src="../templates/005A/svg/Kutip.svg" alt="">
      </div>
    </div>
  </div>
  <!-- INTRODUCTION -->
  <!-- BNG -->
  <div class="bng bg-full">
    <div class="container fill">
      <img src="../templates/005A/img/assalamualaikum.png" alt="" class="salam">
      <span>Assalamualaikum <br>
      Warahmatullahi Wabarakatuh</span>
      <p>Dengan memohon restu kepada Allah SWT, serta dengan seluruh rasa hormat kami, izinkan kami untuk mengundang
      Bapak/Ibu/Saudara/i untuk hadir di acara pernikahan putra-putri kami :</p>
      <img src="../templates/005A/img/groom.png" alt="" class="theBng">
      <span class="name">Johansen Sijabat M.Ba</span>
      <span>Putra tunggal dari :</span>
      <p>Bapak James Wins Sijabat M.Ba
        <br>
        Ibu Dewi Kurmini
      </p>
      <img src="../templates/005A/img/bride.png" alt="" class="theBng">
      <span class="name">Angeline Josie M.Ba</span>
      <span>Putri kedua dari :</span>
      <p>Bapak Jonathan Will M.Ba 
        <br>
        Ibu Dewi Kusniari
      </p>
    </div>
  </div>
  <!-- BNG -->
  <!-- COUNTDOWN -->
  <div class="countdown colour">
    <div class="container" data-aos="fade-up" data-aos-duration="600">
      <div class="main-title-template">
        <p class="main-title">Save the Date</p>
        <img src="../templates/005A/svg/Head_Alpa.svg" alt="" class="head">
        <div class="sub-title">Atas rahmat Allah SWT, acara kami akan diselenggarakan dalam :</div>
      </div>
      <div class="box-time">
        <div class="item-time" data-aos="fade-up" data-aos-duration="1200">
          <p>14</p>
          <span>Detik</span>
        </div>
        <div class="item-time" data-aos="fade-up" data-aos-duration="1800">
          <p>24</p>
          <span>Menit</span>
        </div>
        <div class="item-time" data-aos="fade-up" data-aos-duration="2400">
          <p>8</p>
          <span>Jam</span>
        </div>
        <div class="item-time" data-aos="fade-up" data-aos-duration="3000">
          <p>7</p>
          <span>Hari</span>
        </div>
      </div>
    </div>
  </div>
  <!-- COUNTDOWN -->
  <!-- EVENT -->
  <div class="event bg-full">
    <div class="container fill">
      <div class="main-title-template alpha">
        <p class="main-title">Wedding Event</p>
        <img src="../templates/005A/svg/Head.svg" alt="" class="head">
        <div class="sub-title">Atas kebesaran kuasa Allah SWT, acara kami akan diselenggarakan pada :</div>
      </div>
      <div class="item-event">
        <span class="title">Akad Nikah</span>
        <p>RABU
          <br>
          <span>22</span>
          <br>
          NOVEMBER 2023
          <br>
          Masjid Ar-Rahmat Kuta Bali
        </p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.756715181729!2d115.17882387410896!3d-8.714637191334646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd246b641220b71%3A0xed704af89895e85c!2sMasjid%20Ar-Rahmat%20Kuta%20Bali!5e0!3m2!1sid!2sid!4v1701263921141!5m2!1sid!2sid"
          style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      <div class="item-event">
        <span class="title">Resepsi Pernikahan</span>
        <p>MINGGU
          <br>
          <span>26</span>
          <br>
          NOVEMBER 2023
          <br>
          Masjid Ar-Rahmat Kuta Bali
        </p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.756715181729!2d115.17882387410896!3d-8.714637191334646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd246b641220b71%3A0xed704af89895e85c!2sMasjid%20Ar-Rahmat%20Kuta%20Bali!5e0!3m2!1sid!2sid!4v1701263921141!5m2!1sid!2sid"
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
  <!-- EVENT -->
  <!-- LOVE STORY -->
  <div class="love_story colour">
    <div class="container">
      <div class="main-title-template">
        <p class="main-title">Love Story</p>
        <img src="../templates/005A/svg/Head_Alpa.svg" alt="" class="head">
        <div class="sub-title">Akan selalu ada lika - liku dalam perjalanan cintaku, namun itu yang membuat kisahku menjadi unik</div>
      </div>
      <div class="card-love-story" >
        <div class="head-card" style="background-image: url(../templates/005A/img/gallery-1.png);">
          <p>Pertama Bertemu</p>
          <span>2019</span>
        </div>
        <div class="body-card">
          <p>Kisah cinta kami bisa dibilang sebuah kisah cinta yang unik dan menarik. Siapa yang menyangka dua insan yang awalnya
          saling tidak mengenal dan dipisahkan oleh kampus yang bahkan sangat berjauhan bisa sama sama mencintai satu sama
          lainnya?</p>
          <p>Yap kami berdua dipertemukan disebuah acara kunjungan kampus pada saat itu</p>
        </div>
      </div>
      <div class="card-love-story" >
        <div class="head-card" style="background-image: url(../templates/005A/img/gallery-2.png);">
          <p>Pernyataan Cinta</p>
          <span>2019</span>
        </div>
        <div class="body-card">
          <p>Kala itu ditengah senja, tepat dihari kampusku akan pergi dari kampusnya, dirinya tiba - tiba menelfonku dan memintaku
          untuk datang ke lantai atas</p>
          <p>“Mau ngapain?”, seperti itu kiranya diriku menjawab, namun tidakn ada rasa curiga sedikitpun dalam benakku akan
          permintaan tersebut</p>
          <p>Dan benarnya, buket bunga berwarna putih ditangan pria serta spanduk bertuliskan “May u be my gf” yang dipegang oleh
          temannya sungguh membuatku ingin tertawa sekaligus menangis. Dia adalah pria yang aku cari selama ini</p>
        </div>
      </div>
      <div class="card-love-story" >
        <div class="head-card" style="background-image: url(../templates/005A/img/gallery-3.png);">
          <p>Pernikahan</p>
          <span>2023</span>
        </div>
        <div class="body-card">
          <p>Moment yang aku tunggu tunggu akhirnya tiba, janji suci yang selama ini diriku inginkan akhirnya akan segera terwujud.
          Sebuah janji yang akan mengikat kita berdua hingga maut memisahkan, sebuah pernikahan</p>
          <p>Sebenarnya aku sempat bercanda dengan dirinya. “Kalo gak nikah tahun ini, aku gamau sama kamu”, ya begitu kira kira yang
          aku sampaikan. Tapi siapa sangka, keesokan harinya dirinya datang bersama calon mertuaku guna melamar diriku menjadi
          istrinya</p>
          <p>“Sungguh pria yang gila, namun itulah yang membuatku begitu menyayanginya”</p>
        </div>
      </div>
    </div>
  </div>
  <!-- LOVE STORY -->
  <!-- GALLERY -->
  <div class="gallery">
    <div class="container">
      <div class="main-title-template">
        <p class="main-title">Our Gallery</p>
        <img src="../templates/005A/svg/Head_Alpa.svg" alt="" class="head">
        <div class="sub-title">Tuhan pasti menciptakan sepasang mata untuk melihat begitu indahnya dunia pernikahan</div>
      </div>
    </div>
  </div>
  <!-- GALLERY -->
  <!-- RSPV -->
  <div class="reservasi bg-full">
    <div class="container fill">
      <div class="main-title-template alpha">
        <p class="main-title">RSPV</p>
        <img src="../templates/005A/svg/Head.svg" alt="" class="head">
        <div class="sub-title">Merupakan sebuah kehormatan besar bagi kami bila Anda
        berkenan untuk hadir pada acara kami. Silahkan isi konfirmasi kehadiran pada form dibawah ini</div>
      </div>
      <form id="rspv" class="upContainer" data-aos="fade-up" data-aos-duration="800">
        <input type="text" placeholder="Nama anda" name="name" required>
        <input type="text" placeholder="Asal anda" name="address" required>
        <div class="kehadiran">
          <div class="cover_kehadiran">
            <input type="radio" name="rspv_list" id="hadir">
            <label for="hadir">Saya bersedia untuk hadir</label>
          </div>
          <div class="cover_kehadiran">
            <input type="radio" name="rspv_list" id="tidak_hadir">
            <label for="tidak_hadir">Maaf, Saya belum bisa hadir</label>
          </div>
        </div>
        <button type="submit">Konfirmasi Via WA</button>
        <input type="hidden" name="id" value="<%= id %>">
      </form>
    </div>
  </div>
  <!-- RSPV -->
  <!-- GIFT -->
  <div class="gift colour">
    <div class="container">
      <div class="main-title-template">
        <p class="main-title">Blessing Gift</p>
        <img src="../templates/005A/svg/Head_Alpa.svg" alt="" class="head">
        <div class="sub-title">Hadiah terindah ialah hadiah yang diberikan dengan hati yang tulus dan ikhlas</div>
      </div>
      <div class="option upContainer" data-aos="fade-right" data-aos-duration="600">
        <p class="main">Direct Transfer <span></span></p>
        <p class="sub-main">Transfer langsung menuju rekening berikut :</p>
        <div class="box-option">
          <div class="rekening">
            <p>BCA</p>
            <div class="no-rekening">
              <p id="rek1">06612345678</p>
              <button onclick="navigator.clipboard.writeText(document.getElementById('rek1').innerHTML)">
                <img src="../templates/005A/svg/Copy.svg" alt="">
              </button>
            </div>
            <p>A/N Jojon prowiro</p>
          </div>
          <div class="rekening">
            <p>BCA</p>
            <div class="no-rekening">
              <p id="rek1">06612345678</p>
              <button onclick="navigator.clipboard.writeText(document.getElementById('rek1').innerHTML)">
                <img src="../templates/005A/svg/Copy.svg" alt="">
              </button>
            </div>
            <p>A/N Jojon prowiro</p>
          </div>
        </div>
      </div>
      <div class="option upContainer" data-aos="fade-right" data-aos-duration="600">
        <p class="main">Send Gift</p>
        <p class="sub-main">Kirim kado secara langsung ke alamat berikut :</p>
        <a href="">Jl. Gadung No 3, Denpasar Utara, <br>Kota Denpasar Bali</a>
      </div>
    </div>
  </div>
  <!-- GIFT -->
  <!-- RESERVASI -->
  <div class="reservasi bg-full">
    <div class="container fill">
      <div class="main-title-template alpha" data-aos="fade-up" data-aos-duration="600">
        <p class="main-title">Sweet Word</p>
        <img src="../templates/005A/svg/Head.svg" alt="" class="head">
        <div class="sub-title">Kata - kata terindah yang diberikan kepada seseorang kelak akan menjadi madu bagi dirinya sendiri</div>
      </div>
      <form class="upContainer" id="form" data-aos="fade-up" data-aos-duration="800">
        <input type="text" placeholder="Nama anda" required>
        <input type="text" placeholder="Asal anda" required>
        <textarea name="" id="" placeholder="Ucapan selamat" required></textarea>
        <button type="submit">Kirim Ucapan</button>
      </form>
    </div>
    <div class="container khusus">
      <div class="box-text" data-aos="fade-up" data-aos-duration="600">
        <% data.forEach(chat=>{ %>
          <div class="item-text">
            <img src="../templates/005A/svg/Letter.svg" alt="">
            <div class="content-text">
              <span>
                <%= chat.name %>
              </span>
              <p>
                <%= chat.message %>
              </p>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>
  <!-- RESERVASI -->
  <!-- FOOTER -->
  <footer>
    <div class="container">
      <img src="../templates/005A/svg/Logo.svg" alt="" class="logo">
      <p>Merupakan suatu kehormatan dan kebahagiaan bagi kami karena telah dapat andil dalam membantu menyukseskan acara
      Bapak/Ibu/Saudara/i</p>
      <div class="sosial-media">
        <p>Temukan kami di :</p>
        <a href="">
          <img src="../templates/005A/svg/Instagram.svg" alt="">
          <p>@weddingweb.id</p>
        </a>
        <a href="">
          <img src="../templates/005A/svg/Whatsapp.svg" alt="">
          <p>+62 8956-2277-1393</p>
        </a>
      </div>
    </div>
  </footer>
  <!-- FOOTER -->










  <script src="../utils/aos.js"></script>
  <!-- <script src="../templates/005A/script.js"></script> -->
  <script>
    AOS.init()
  </script>
</body>
</html>