<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../templates/009A/style.css">
  <link rel="stylesheet" href="../utils/aos.css" />
  <title>Document</title>
</head>
<body>
  <!-- COVER -->
  <div class="cover" id="cover">
    <img src="../templates/009A/img/background.png" alt="">
    <div class="text-cover">
      <p>JAMES & DEWI</p>
      <span>Kepada Keluarga Besar Denpasar</span>
      <span>Mingu 26 November 2023</span>
      <button class="cover-btn">Buka Undangan</button>
    </div>
  </div>
  <!-- COVER -->
  <!-- MUSIC SWITCH -->
  <button class="music musicOn">
    <img src="../templates/009A/svg/MusicOn.svg" alt="">
    <audio controls autoplay loop>
      <source src="../templates/009A/audio/Penjaga_Hati-Nadhif-Basalamah.mp3" type="audio/mpeg">
    </audio>
  </button>
  <!-- MUSIC SWITCH -->
  <main>
    <!-- HOMEPAGE -->
    <div class="homepage">
      <div class="background">
        <img src="../templates/009A/img/background.png" alt="" class="background-pctr"> 
        <img src="../templates/009A/img/border.png" alt="" class="border">
        <img src="../templates/009A/img/hero-name.png" alt="" class="hero-name">
      </div>
      <div class="text-homepage">
        <div class="trikas-normal">
          <img src="../templates/009A/svg/section_break.svg" alt=""> 
        </div>
        <div class="text-area">
          <span>The Wedding of</span>
          <p class="title">James & Dewi</p>
          <p class="normal-text">Minggu 26 November 2023</p>
          <p class="normal-text">Ballroom Kuta Spot</p>
        </div>
      </div>
    </div>
    <!-- HOMEPAGE -->
    <!-- INTRODUCTION -->
    <div class="introduction">
      <div class="container">
        <img src="../templates/009A/img/logo.png" alt="" data-aos="fade-up" data-aos-duration="600">
        <div class="text-introduction">
          <img src="../templates/009A/svg/Kutip.svg" alt="" data-aos="fade-right" data-aos-duration="1200">
          <p data-aos="fade-up" data-aos-duration="1200">Riak malam yang damai, tawa ceria di siang hari akan menjadi kebahagiaan yang tiada tara tatkala semua ada dalam
          pernikahan.</p>
          <img src="../templates/009A/svg/Kutip.svg" alt="" data-aos="fade-left" data-aos-duration="1200">
        </div>
      </div>
      <div class="trikas-normal rotate abs">
        <img src="../templates/009A/svg/section_break.svg" alt=""> 
      </div>
    </div>
    <!-- INTRODUCTION -->
    <!-- BRIDENGROOM -->
    <div class="bng">
      <div class="container">
        <div class="text-bng">
          <img src="../templates/009A/img/assalamualaikum.png" alt="" data-aos="fade" data-aos-duration="600">
          <p class="normal-text white" data-aos="fade-up" data-aos-duration="1200">Dengan memohon restu kepada Allah SWT, serta dengan seluruh rasa hormat kami, izinkan kami untuk mengundang
          Bapak/Ibu/Saudara/i untuk hadir di acara pernikahan putra-putri kami :</p>
        </div>
        <div class="box-bng left">
          <div class="bng-picture">
            <div class="text-picture" >
              <img src="../templates/009A/svg/GroomText.svg" alt="" data-aos="fade-left" data-aos-duration="3000">
            </div>
            <div class="cover">
              <img src="../templates/009A/img/groom.png" alt="" class="pic" data-aos="fade-left" data-aos-duration="600">
              <img src="../templates/009A/svg/GroomBorder.svg" alt="" class="picBor" data-aos="fade-left" data-aos-duration="1500">
            </div>
          </div>
          <div class="bng-detail" data-aos="fade-up" data-aos-duration="1200">
            <span>Johansen Sijabat M.Ba</span>
            <p class="normal-text white">Putra tungga dari :</p>
            <p class="normal-text white">Bapak James Wins Sijabat M.Ba</p>
            <p class="normal-text white">Ibu Dewi Kurmini</p>
            <button></button>
          </div>
        </div>
        <div class="box-bng right">
          <div class="bng-picture">
            <div class="cover">
              <img src="../templates/009A/img/bride.png" alt="" class="pic" data-aos="fade-right" data-aos-duration="600">
              <img src="../templates/009A/svg/BrideBorder.svg" alt="" class="picBor" data-aos="fade-right" data-aos-duration="1500">
            </div>
            <div class="text-picture">
              <img src="../templates/009A/svg/BrideText.svg" alt="" data-aos="fade-up" data-aos-duration="3000">
            </div>
          </div>
          <div class="bng-detail" data-aos="fade-up" data-aos-duration="1200">
            <span>Johansen Sijabat M.Ba</span>
            <p class="normal-text white">Putra tungga dari :</p>
            <p class="normal-text white">Bapak James Wins Sijabat M.Ba</p>
            <p class="normal-text white">Ibu Dewi Kurmini</p>
            <button></button>
          </div>
        </div>
      </div>
      <div class="trikas-normal" data-aos="fade-up" data-aos-duration="600">
        <img src="../templates/009A/svg/section_break.svg" alt="">
      </div>
    </div>
    <!-- BRIDENGROOM -->
    <!-- TIMELINE -->
    <div class="timeline">
      <div class="container">
        <div class="title_theme" data-aos="fade-up" data-aos-duration="600">
          <span>WEDDING</span>
          <p>Timeline</p>
        </div>
        <div class="card-timeline" data-aos="fade-left" data-aos-duration="1200">
          <div class="head">
            <div class="head-img">
              <img src="../templates/009A/img/gallery-2.png" alt=""> 
            </div>
            <div class="head-text">
              <span>AKAD</span>
              <p class="normal-text">Nikah</p>
            </div>
          </div>
          <div class="body">
            <p>Insya Allah, prosesi akad nikah akan dilaksanakan pada :</p>
            <span>RABU <br> 22  <br> NOVEMBER 2023</span>
            <p>Masjid Ar-Rahmat Kuta Bali</p>
            <button>Lihat lokasi di Maps</button>
          </div>
        </div>
        <div class="card-timeline" data-aos="fade-right" data-aos-duration="1200">
          <div class="head">
            <div class="head-img">
              <img src="../templates/009A/img/gallery-3.png" alt="">
            </div>
            <div class="head-text">
              <span>RESEPSI</span>
              <p class="normal-text">Pernikahan</p>
            </div>
          </div>
          <div class="body">
            <p>Insya Allah, prosesi resepsi pernikahan akan dilaksanakan pada :</p>
            <span>MINGGU <br> 26 <br> NOVEMBER 2023</span>
            <p>Masjid Ar-Rahmat Kuta Bali</p>
            <button>Lihat lokasi di Maps</button>
          </div>
        </div>
      </div>
    </div>
    <!-- TIMELINE -->
    <!-- COUNTDOWN -->
    <div class="countdown">
      <div class="container" data-aos="fade-up" data-aos-duration="600">
        <div class="title_theme white">
          <span>THE DATE</span>
          <p>Countdown</p>
        </div>
        <div class="box-time">
          <div class="item-time" data-aos="fade-up" data-aos-duration="1200">
            <p>14</p>
            <span>Detik</span>
          </div>
          <div class="item-time" data-aos="fade-up" data-aos-duration="1800">
            <p>24</p>
            <span>Menit</span>
          </div>
          <div class="item-time" data-aos="fade-up" data-aos-duration="2400">
            <p>8</p>
            <span>Jam</span>
          </div>
          <div class="item-time" data-aos="fade-up" data-aos-duration="3000">
            <p>7</p>
            <span>Hari</span>
          </div>
        </div>
      </div>
    </div>
    <!-- COUNTDOWN -->
    <!-- LOVE STORY -->
    <div class="love-story">
      <div class="container">
        <div class="title_theme" data-aos="fade-up" data-aos-duration="600">
          <span>LOVE STORY</span>
          <p>Kisah Cinta</p>
        </div>
      </div>
      <div class="box-love-story upContainer" data-aos="fade" data-aos-duration="1200">
        <div class="cover-love-story">
          <img src="../templates/009A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" data-aos="fade-left" data-aos-duration="600">
          <p class="title-love-story" data-aos="fade-up" data-aos-duration="600">Chapter 1 - First Meet</p>
          <span data-aos="fade-up" data-aos-duration="600">2019</span>
          <p class="normal-love-story" data-aos="fade-up" data-aos-duration="600">Kisah cinta kami bisa dibilang sebuah kisah cinta yang unik dan menarik. Siapa yang menyangka dua insan yang awalnya
          saling tidak mengenal dan dipisahkan oleh kampus yang bahkan sangat berjauhan bisa sama sama mencintai satu sama
          lainnya?</p>
          <p class="normal-love-story" data-aos="fade-up" data-aos-duration="600">Yap kami berdua dipertemukan disebuah acara kunjungan kampus pada saat itu</p>
        </div>
        <div class="cover-love-story">
          <img src="../templates/009A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" data-aos="fade-right" data-aos-duration="600">
          <p class="title-love-story" data-aos="fade-up" data-aos-duration="600">Chapter 2 - Pernyataan Cinta</p>
          <span data-aos="fade-up" data-aos-duration="600">2019</span>
          <p class="normal-love-story" data-aos="fade-up" data-aos-duration="600">Kala itu ditengah senja, tepat dihari kampusku akan pergi dari kampusnya, dirinya tiba - tiba menelfonku dan memintaku
          untuk datang ke lantai atas</p>
          <p class="normal-love-story" data-aos="fade-up" data-aos-duration="600">“Mau ngapain?”, seperti itu kiranya diriku menjawab, namun tidakn ada rasa curiga sedikitpun dalam benakku akan
          permintaan tersebut</p>
          <p class="normal-love-story" data-aos="fade-up" data-aos-duration="600">Dan benarnya, buket bunga berwarna putih ditangan pria serta spanduk bertuliskan “May u be my gf” yang dipegang oleh
          temannya sungguh membuatku ingin tertawa sekaligus menangis. Dia adalah pria yang aku cari selama ini</p>
        </div>
        <div class="cover-love-story">
          <img src="../templates/009A/img/gallery-3.png" alt="" data-aos="fade" data-aos-duration="600" data-aos="fade-left" data-aos-duration="600">
          <p class="title-love-story" data-aos="fade-up" data-aos-duration="600">Chapter 3 - Pernikahan</p>
          <span>2023</span data-aos="fade-up" data-aos-duration="600">
          <p class="normal-love-story" data-aos="fade-up" data-aos-duration="600">Moment yang aku tunggu tunggu akhirnya tiba, janji suci yang selama ini diriku inginkan akhirnya akan segera terwujud.
          Sebuah janji yang akan mengikat kita berdua hingga maut memisahkan, sebuah pernikahan</p>
          <p class="normal-love-story" data-aos="fade-up" data-aos-duration="600">Sebenarnya aku sempat bercanda dengan dirinya. “Kalo gak nikah tahun ini, aku gamau sama kamu”, ya begitu kira kira yang
          aku sampaikan. Tapi siapa sangka, keesokan harinya dirinya datang bersama calon mertuaku guna melamar diriku menjadi
          istrinya</p>
          <p class="normal-love-story" data-aos="fade-up" data-aos-duration="600">“Sungguh pria yang gila, namun itulah yang membuatku begitu menyayanginya”</p>
        </div>
      </div>
    </div>
    <!-- LOVE STORY -->
    <!-- LIVE MOMENTS -->
    <div class="live">
      <div class="trikas-normal rotate">
        <img src="../templates/009A/svg/section_break.svg" alt="" data-aos="fade-up" data-aos-duration="600">
      </div>
      <div class="container upContainer">
        <div class="title_theme white" data-aos="fade" data-aos-duration="600">
          <span>LIVE MOMENT</span>
          <p>Live dan Filter</p>
        </div>
        <img src="../templates/009A/img/live.png" alt="" class="main-img-live" data-aos="fade" data-aos-duration="1100">
        <div class="item-live" data-aos="fade-right" data-aos-duration="600">
          <p class="title">Live <span>Streaming</span></p>
          <p>Temui kami secara virtual untuk menyaksikan acara pernikahan kami. Silahkan untuk join live streaming.</p>
          <a href="">
            <button>
              <p>Join Live</p>
              <img src="../templates/001A/svg/Arrow.svg" alt="">
            </button>
          </a>
        </div>
        <div class="item-live" data-aos="fade-right" data-aos-duration="600">
          <p class="title">Instagram <span>Filter</span></p>
          <p>Gunakan filter Intagram eksklusif kami sekarang juga! Bagikan moment bahagiamu bersama kami!</p>
          <a href="">
            <button>
              <p>Join Live</p>
              <img src="../templates/001A/svg/Arrow.svg" alt="">
            </button>
          </a>
        </div>
      </div>
      <div class="trikas-normal bot" data-aos="fade-up" data-aos-duration="600">
        <img src="../templates/009A/svg/section_break.svg" alt="">
      </div>
    </div>
    <!-- LIVE MOMENTS -->
    <!-- GALLERY -->
    <div class="gallery">
      <div class="container">
        <div class="box-gallery" id="box-gallery">
          <div class="collum-gallery">
            <img src="../templates/009A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="img-1">
            <img src="../templates/009A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="img-2">
            <img src="../templates/009A/img/gallery-3.png" alt="" data-aos="fade" data-aos-duration="600" class="img-3">
            <img src="../templates/009A/img/gallery-4.png" alt="" data-aos="fade" data-aos-duration="600" class="img-4">
          </div>
          <div class="collum-gallery">
            <img src="../templates/009A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="img-5">
            <img src="../templates/009A/img/gallery-4.png" alt="" data-aos="fade" data-aos-duration="600" class="img-6">
            <img src="../templates/009A/img/gallery-3.png" alt="" data-aos="fade" data-aos-duration="600" class="img-7">
            <img src="../templates/009A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="img-8">
          </div>
        </div>
          <div class="title_theme" data-aos="fade-up" data-aos-duration="600">
            <span>GALLERY</span>
            <p>Album Foto</p>
          </div>
        <div class="box-gallery" id="box-gallery">
          <div class="collum-gallery">
            <img src="../templates/009A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="img-9">
            <img src="../templates/009A/img/gallery-4.png" alt="" data-aos="fade" data-aos-duration="600" class="img-10">
            <img src="../templates/009A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="img-11">
            <img src="../templates/009A/img/gallery-3.png" alt="" data-aos="fade" data-aos-duration="600" class="img-12">
          </div>
          <div class="collum-gallery">
            <img src="../templates/009A/img/gallery-4.png" alt="" data-aos="fade" data-aos-duration="600" class="img-13">
            <img src="../templates/009A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="img-14">
            <img src="../templates/009A/img/gallery-3.png" alt="" data-aos="fade" data-aos-duration="600" class="img-15">
            <img src="../templates/009A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="img-16">
          </div>
        </div>
      </div>
    </div>
    <div class="gallery-zoom">
      <button id="exit-zoom">
        <img src="../templates/009A/svg/Close.svg" alt="">
      </button>
      <div class="core-zoom">
        <img src="../templates/009A/img/gallery-3.png" alt="" data-aos="fade" data-aos-duration="600" class="prev">
        <img src="../templates/009A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="center">
        <img src="../templates/009A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="next">
      </div>
      <div class="navigation-zoom">
        <button id="prev-zoom">
          <img src="../templates/009A/svg/Left.svg" alt="">
        </button>
        <button id="next-zoom">
          <img src="../templates/009A/svg/Right.svg" alt="">
        </button>
      </div>
    </div>
    <!-- GALLERY -->
    <!-- RSVP -->
    <div class="rsvp">
      <div class="trikas-normal rotate">
        <img src="../templates/009A/svg/section_break.svg" alt="" data-aos="fade-up" data-aos-duration="600">
      </div>
      <div class="container upContainer">
        <div class="title_theme white" data-aos="fade" data-aos-duration="600">
          <span>RSVP</span>
          <p>Konfirmasi Kehadiran</p>
        </div>
        <form id="rspv" class="upContainer" data-aos="fade-up" data-aos-duration="800">
          <input type="text" placeholder="Nama anda" name="name" required>
          <input type="text" placeholder="Asal anda" name="address" required>
          <div class="kehadiran">
            <div class="cover_kehadiran">
              <input type="radio" name="rspv_list" id="hadir">
              <label for="hadir">Saya bersedia untuk hadir</label>
            </div>
            <div class="cover_kehadiran">
              <input type="radio" name="rspv_list" id="tidak_hadir">
              <label for="tidak_hadir">Maaf, Saya belum bisa hadir</label>
            </div>
          </div>
          <button type="submit">Konfirmasi Via WA</button>
          <input type="hidden" name="id" value="<%= id %>">
        </form>
      </div>
    </div>
    <!-- RSVP -->
    <!-- GIFT -->
    <div class="gift">
      <div class="container" data-aos="fade-up" data-aos-duration="600">
        <div class="title_theme white" data-aos="fade" data-aos-duration="600">
          <span>BLESSING GIFT</span>
          <p>Kirim Hadiah</p>
        </div>
        <div class="option upContainer" data-aos="fade-right" data-aos-duration="600">
          <p class="main">Direct Transfer <span></span></p>
          <p class="sub-main">Transfer langsung menuju rekening berikut :</p>
          <div class="box-option">
            <div class="rekening">
              <p>BCA</p>
              <div class="no-rekening">
                <p id="rek1">06612345678</p>
                <button onclick="navigator.clipboard.writeText(document.getElementById('rek1').innerHTML)">
                  <img src="../templates/009A/svg/Copy.svg" alt="">
                </button>
              </div>
              <p>A/N Jojon prowiro</p>
            </div>
            <div class="rekening">
              <p>BCA</p>
              <div class="no-rekening">
                <p id="rek1">06612345678</p>
                <button onclick="navigator.clipboard.writeText(document.getElementById('rek1').innerHTML)">
                  <img src="../templates/009A/svg/Copy.svg" alt="">
                </button>
              </div>
              <p>A/N Jojon prowiro</p>
            </div>
          </div>
        </div>
        <div class="option upContainer" data-aos="fade-right" data-aos-duration="600">
          <p class="main">Send Gift</p>
          <p class="sub-main">Kirim kado secara langsung ke alamat berikut :</p>
          <a href="">Jl. Gadung No 3, Denpasar Utara, <br>Kota Denpasar Bali</a>
        </div>
      </div>
      <img src="../templates/009A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="gift-img-1">
      <img src="../templates/009A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="gift-img-2">
    </div>
    <!-- GIFT -->
  <!-- RESERVASI -->
  <div class="reservasi bg-full">
    <div class="container">
      <div class="title_theme white" data-aos="fade" data-aos-duration="600">
        <span>SWEET WORD</span>
        <p>Kirim Pesan</p>
      </div>
      <form class="upContainer" id="form" data-aos="fade-up" data-aos-duration="800">
        <input type="text" placeholder="Nama anda" required>
        <input type="text" placeholder="Asal anda" required>
        <textarea name="" id="" placeholder="Ucapan selamat" required></textarea>
        <button type="submit">Kirim Ucapan</button>
      </form>
    </div>
    <div class="container khusus">
      <div class="box-text" data-aos="fade-up" data-aos-duration="600">
        <% data.forEach(chat=>{ %>
          <div class="item-text">
            <img src="../templates/009A/svg/Letter.svg" alt="">
            <div class="content-text">
              <span>
                <%= chat.name %>
              </span>
              <p>
                <%= chat.message %>
              </p>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>
  <!-- RESERVASI -->
  <!-- FOOTER -->
  <footer>
    <div class="container">
      <img src="../templates/009A/svg/Logo.svg" alt="" class="logo">
      <p>Merupakan suatu kehormatan dan kebahagiaan bagi kami karena telah dapat andil dalam membantu menyukseskan acara
      Bapak/Ibu/Saudara/i</p>
      <div class="sosial-media">
        <p>Temukan kami di :</p>
        <a href="">
          <img src="../templates/009A/svg/Instagram.svg" alt="">
          <p>@weddingweb.id</p>
        </a>
        <a href="">
          <img src="../templates/009A/svg/Whatsapp.svg" alt="">
          <p>+62 8956-2277-1393</p>
        </a>
      </div>
    </div>
  </footer>
  <!-- FOOTER -->
  </main>
</body>
  <script src="../utils/aos.js"></script>
  <script src="../templates/009A/script.js"></script>
  <script>
    AOS.init()
  </script>
</html>