<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../templates/010A/style.css">
  <link rel="stylesheet" href="../utils/aos.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <title>Document</title>
</head>
<body>
  <!-- COVER -->
  <div class="cover" id="cover">
    <img src="../templates/010A/img/background.png" alt="">
    <div class="text-cover">
      <p>THOMAS & ELVA</p>
      <span>Kepada Keluarga Besar Denpasar</span>
      <span>Mingu 26 November 2023</span>
      <button class="cover-btn">Buka Undangan</button>
    </div>
  </div>
  <!-- COVER -->
  <!-- MUSIC SWITCH -->
  <button class="music musicOn">
    <img src="../templates/010A/svg/MusicOn.svg" alt="">
    <audio controls autoplay loop>
      <source src="../templates/010A/audio/Penjaga_Hati-Nadhif-Basalamah.mp3" type="audio/mpeg">
    </audio>
  </button>
  <!-- MUSIC SWITCH -->
  <main>
    <!-- HOMEPAGE -->
    <div class="homepage">
      <img src="../templates/010A/img/back-flower-1.png" alt="" class="backImg">
      <div class="container">
        <div class="image-homepage">
          <div class="left-img">
            <img src="../templates/010A/svg/HeroLine.svg" alt="" class="lineImg">
          </div>
          <div class="right-img">
            <p>26.11.2023</p>
            <img src="../templates/010A/img/hero-img.png" alt="">
          </div>
        </div>
        <div class="text-homepage">
          <p class="normal-text">The Wedding of</p>
          <p class="bold-text">Thomas & Elva</p>
          <p class="normal-text">Minggu 26 November 2023</p>
          <p class="normal-text">Ballroom Kuta Spot</p>
        </div>
      </div>
      <img src="../templates/010A/img/flower-1.png" alt="" class="side-right-flower">
      <div class="scroll-down">
        <img src="../templates/010A/svg/Mouse.svg" alt="">
        <p class="normal-text">Scroll down</p>
      </div>
    </div>
    <!-- HOMEPAGE -->
    <!-- INTRODUCTION -->
    <div class="introduction">
      <div class="container">
        <img src="../templates/010A/img/introduction.png" alt="" data-aos="fade-up" data-aos-duration="600">
        <div class="text-introduction">
          <img src="../templates/010A/svg/Kutip.svg" alt="" data-aos="fade-right" data-aos-duration="1200">
          <p data-aos="fade-up" data-aos-duration="1200" class="normal-text">Riak malam yang damai, tawa ceria di siang hari akan menjadi
            kebahagiaan yang tiada tara tatkala semua ada dalam
            pernikahan.</p>
          <img src="../templates/010A/svg/Kutip.svg" alt="" data-aos="fade-left" data-aos-duration="1200">
        </div>
      </div>
    </div>
    <!-- INTRODUCTION -->
    <!-- BRIDENGROOM -->
    <div class="bng">
      <img src="../templates/010A/img/back-flower-1.png" alt="" class="backImg top">
      <img src="../templates/010A/img/back-flower-2.png" alt="" class="backImg bot">
      <div class="container">
        <div class="text-bng">
          <img src="../templates/010A/svg/Salam.svg" alt="" data-aos="fade" data-aos-duration="600">
          <p class="normal-text white" data-aos="fade-up" data-aos-duration="1200">Dengan memohon restu kepada Allah SWT,
            serta dengan seluruh rasa hormat kami, izinkan kami untuk mengundang
            Bapak/Ibu/Saudara/i untuk hadir di acara pernikahan putra-putri kami :</p>
        </div>
        <div class="box-bng left">
          <div class="bng-picture">
            <div class="cover">
              <img src="../templates/010A/img/broom.png" alt="" class="pic" data-aos="fade-left" data-aos-duration="600">
              <img src="../templates/010A/svg/GroomBorder.svg" alt="" class="picBor" data-aos="fade-left"
                data-aos-duration="1500">
            </div>
          </div>
          <div class="bng-detail" data-aos="fade-up" data-aos-duration="1200">
            <span>Johansen Sijabat M.Ba</span>
            <p class="normal-text white">Putra tungga dari :</p>
            <p class="normal-text white">Bapak James Wins Sijabat M.Ba</p>
            <p class="normal-text white">Ibu Dewi Kurmini</p>
            <button></button>
          </div>
        </div>
        <div class="box-bng right">
          <div class="bng-picture">
            <div class="cover">
              <img src="../templates/010A/img/bride.png" alt="" class="pic" data-aos="fade-right" data-aos-duration="600">
              <img src="../templates/010A/svg/BrideBorder.svg" alt="" class="picBor" data-aos="fade-right"
                data-aos-duration="1500">
            </div>
          </div>
          <div class="bng-detail" data-aos="fade-up" data-aos-duration="1200">
            <span>Angeline Josie M.Ba</span>
            <p class="normal-text white">Putri tungga dari :</p>
            <p class="normal-text white">Bapak Jonathan Will M.Ba</p>
            <p class="normal-text white">Ibu Dewi Kusniari</p>
            <button></button>
          </div>
        </div>
      </div>
    </div>
    <!-- BRIDENGROOM -->
    <!-- COUNTDOWN -->
    <div class="countdown">
      <img src="../templates/010A/img/flower-2.png" alt="" class="side-left-flower">
      <div class="container">
        <div class="left-cd">
          <p class="bold-text">SAVE <br> THE <br> DATE</p>
          <p class="normal-text">26 November 2023</p>
        </div>
        <div class="right-cd">
          <div class="box box-hari">
            <span>08</span>
            <p>hari</p>
          </div>
          <div class="box box-jam">
            <span>12</span>
            <p>jam</p>
          </div>
          <div class="box box-menit">
            <span>47</span>
            <p>menit</p>
          </div>
          <div class="box box-detik">
            <span>31</span>
            <p>detik</p>
          </div>
        </div>
      </div>
      <img src="../templates/010A/img/flower-1.png" alt="" class="side-right-flower">
    </div>
    <!-- COUNTDOWN -->
    <!-- TIMELINE -->
    <div class="timeline">
      <div class="container">
        <div class="img-section-timeline top">
          <img src="../templates/010A/img/ls-1.png" alt="" data-aos="fade-right" data-aos-duration="1200">
          <img src="../templates/010A/img/ls-2.png" alt="" data-aos="fade-right" data-aos-duration="600">
        </div>
        <div class="title_theme" data-aos="fade-up" data-aos-duration="600">
          <span>WEDDING</span>
          <p>Timeline</p>
        </div>
        <div class="img-section-timeline bottom">
          <img src="../templates/010A/img/ls-2.png" alt="" data-aos="fade-left" data-aos-duration="600">
          <img src="../templates/010A/img/ls-1.png" alt="" data-aos="fade-left" data-aos-duration="1200">
        </div>
        <div class="detail-timeline" data-aos="fade-up" data-aos-duration="600">
          <p class="head">Akad Nikah</p>
          <div class="cover-p">
            <p class="sub">Rabu, 22 Desember 2023</p>
            <p class="sub">Pukul 10.00 - Selesai</p>
          </div>
          <span>Masjid Ar-Rahmat Kuta Bali - Jalan Sunsed Road, Badung Selatan, Bali</span>
          <button>Lihat Maps</button>
        </div>
        <div class="detail-timeline" data-aos="fade-up" data-aos-duration="600">
          <p class="head">Resepsi Pernikahan</p>
          <div class="cover-p">
            <p class="sub">Minggu, 26 Desember 2023</p>
            <p class="sub">Pukul 10.00 - Selesai</p>
          </div>
          <span>Masjid Ar-Rahmat Kuta Bali - Jalan Sunsed Road, Badung Selatan, Bali</span>
          <button>Lihat Maps</button>
        </div>
      </div>
    </div>
    <!-- TIMELINE -->
    <!-- GALLERY -->
    <div class="gallery">
      <img src="../templates/010A/img/flower-1.png" alt="" class="side-right-flower">
      <img src="../templates/010A/img/flower-2.png" alt="" class="side-left-flower">
      <div class="container">
        <div class="box-gallery" id="box-gallery">
          <div class="collum-gallery">
            <img src="../templates/010A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="img-1">
            <img src="../templates/010A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="img-2">
            <img src="../templates/010A/img/gallery-3.png" alt="" data-aos="fade" data-aos-duration="600" class="img-3">
            <img src="../templates/010A/img/gallery-4.png" alt="" data-aos="fade" data-aos-duration="600" class="img-4">
          </div>
          <div class="collum-gallery">
            <img src="../templates/010A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="img-5">
            <img src="../templates/010A/img/gallery-4.png" alt="" data-aos="fade" data-aos-duration="600" class="img-6">
            <img src="../templates/010A/img/gallery-3.png" alt="" data-aos="fade" data-aos-duration="600" class="img-7">
            <img src="../templates/010A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="img-8">
          </div>
        </div>
          <div class="title_theme" data-aos="fade-up" data-aos-duration="600">
            <span>GALLERY</span>
            <p>Album Foto</p>
          </div>
        <div class="box-gallery" id="box-gallery">
          <div class="collum-gallery">
            <img src="../templates/010A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="img-9">
            <img src="../templates/010A/img/gallery-4.png" alt="" data-aos="fade" data-aos-duration="600" class="img-10">
            <img src="../templates/010A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="img-11">
            <img src="../templates/010A/img/gallery-3.png" alt="" data-aos="fade" data-aos-duration="600" class="img-12">
          </div>
          <div class="collum-gallery">
            <img src="../templates/010A/img/gallery-4.png" alt="" data-aos="fade" data-aos-duration="600" class="img-13">
            <img src="../templates/010A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="img-14">
            <img src="../templates/010A/img/gallery-3.png" alt="" data-aos="fade" data-aos-duration="600" class="img-15">
            <img src="../templates/010A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="img-16">
          </div>
        </div>
      </div>
    </div>
    <div class="gallery-zoom">
      <button id="exit-zoom">
        <img src="../templates/010A/svg/Close.svg" alt="">
      </button>
      <div class="core-zoom">
        <img src="../templates/010A/img/gallery-3.png" alt="" data-aos="fade" data-aos-duration="600" class="prev">
        <img src="../templates/010A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="center">
        <img src="../templates/010A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="next">
      </div>
      <div class="navigation-zoom">
        <button id="prev-zoom">
          <img src="../templates/010A/svg/Left.svg" alt="">
        </button>
        <button id="next-zoom">
          <img src="../templates/010A/svg/Right.svg" alt="">
        </button>
      </div>
    </div>
    <!-- GALLERY -->
    <!-- LOVE STORY -->
    <div class="love-story">
      <img src="../templates/010A/img/back-flower-1.png" alt="" class="backImg top">
      <img src="../templates/010A/img/back-flower-2.png" alt="" class="backImg bot">
      <div class="container">
        <div class="title_theme beige" data-aos="fade-up" data-aos-duration="600">
          <span>LOVE STORY</span>
          <p>Kisah Cinta</p>
        </div>
      </div>
      <div class="box-love-story upContainer swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../templates/010A/img/ls-1.png" alt="">
            <div class="text-area">
              <p class="bold-text">First Meet</p>
              <span>Chapter 1</span>
              <p class="normal-text">Kisah cinta kami bisa dibilang sebuah
                kisah cinta yang unik dan menarik. Siapa yang menyangka dua insan yang awalnya
                saling tidak mengenal dan dipisahkan oleh kampus yang bahkan sangat berjauhan bisa sama sama mencintai satu
                sama
                lainnya?</p>
              <p class="normal-text">Yap kami berdua dipertemukan disebuah
                acara kunjungan kampus pada saat itu</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="../templates/010A/img/ls-2.png" alt="">
            <div class="text-area">
              <p class="bold-text">Pernyataan Cinta</p>
              <span>Chapter 2</span>
              <p class="normal-text">Kala itu ditengah senja, tepat dihari
                kampusku akan pergi dari kampusnya, dirinya tiba - tiba menelfonku dan memintaku
                untuk datang ke lantai atas</p>
              <p class="normal-text">“Mau ngapain?”, seperti itu kiranya diriku
                menjawab, namun tidakn ada rasa curiga sedikitpun dalam benakku akan
                permintaan tersebut</p>
              <p class="normal-text">Dan benarnya, buket bunga berwarna putih
                ditangan pria serta spanduk bertuliskan “May u be my gf” yang dipegang oleh
                temannya sungguh membuatku ingin tertawa sekaligus menangis. Dia adalah pria yang aku cari selama ini</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="../templates/010A/img/ls-3.png" alt="">
            <div class="text-area">
              <p class="bold-text">Pernikahan</p>
              <span>Chapter 3</span>
              <p class="normal-text">Moment yang aku tunggu tunggu akhirnya
                tiba, janji suci yang selama ini diriku inginkan akhirnya akan segera terwujud.
                Sebuah janji yang akan mengikat kita berdua hingga maut memisahkan, sebuah pernikaha</p>
              <p class="normal-text">Sebenarnya aku sempat bercanda dengan
                dirinya. “Kalo gak nikah tahun ini, aku gamau sama kamu”, ya begitu kira kira yang
                aku sampaikan. Tapi siapa sangka, keesokan harinya dirinya datang bersama calon mertuaku guna melamar diriku
                menjadi
                istrinya</p>
              <p class="normal-text">“Sungguh pria yang gila, namun itulah yang
                membuatku begitu menyayanginya”</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- LOVE STORY -->
    <!-- LIVE MOMENTS -->
    <div class="live">
      <img src="../templates/010A/img/flower-1.png" alt="" class="side-right-flower">
      <img src="../templates/010A/img/flower-2.png" alt="" class="side-left-flower">
      <div class="container upContainer">
        <div class="title_theme white" data-aos="fade" data-aos-duration="600">
          <span>LIVE MOMENT</span>
          <p>Live dan Filter</p>
        </div>
        <div class="cover-img">
          <img src="../templates/010A/img/live-1.png" alt="" class="main-img-live" data-aos="fade" data-aos-duration="1100">
          <img src="../templates/010A/img/live-2.png" alt="" class="sec-img-live" data-aos="fade-left"
            data-aos-duration="1800">
        </div>
        <div class="item-live" data-aos="fade-right" data-aos-duration="600">
          <p class="title">Live <span>Streaming</span></p>
          <p>Temui kami secara virtual untuk menyaksikan acara pernikahan kami. Silahkan untuk join live streaming.</p>
          <a href="">
            <button>
              <p>Join Live</p>
            </button>
          </a>
        </div>
        <div class="item-live" data-aos="fade-right" data-aos-duration="600">
          <p class="title">Instagram <span>Filter</span></p>
          <p>Gunakan filter Intagram eksklusif kami sekarang juga! Bagikan moment bahagiamu bersama kami!</p>
          <a href="">
            <button>
              <p>Join Live</p>
            </button>
          </a>
        </div>
      </div>
    </div>
    <!-- LIVE MOMENTS -->
    <!-- RSVP -->
    <div class="rsvp">
      <div class="container upContainer">
        <div class="title_theme white" data-aos="fade" data-aos-duration="600">
          <span>RSVP</span>
          <p>Konfirmasi Kehadiran</p>
        </div>
        <form id="rspv" class="upContainer" data-aos="fade-up" data-aos-duration="800">
          <input type="text" placeholder="Nama anda" name="name" required>
          <input type="text" placeholder="Asal anda" name="address" required>
          <div class="kehadiran">
            <div class="cover_kehadiran">
              <input type="radio" name="rspv_list" id="hadir">
              <label for="hadir">Saya bersedia untuk hadir</label>
            </div>
            <div class="cover_kehadiran">
              <input type="radio" name="rspv_list" id="tidak_hadir">
              <label for="tidak_hadir">Maaf, Saya belum bisa hadir</label>
            </div>
          </div>
          <button type="submit">Konfirmasi Via WA</button>
          <input type="hidden" name="id" value="<%= id %>">
        </form>
      </div>
    </div>
    <!-- RSVP -->
    <!-- GIFT -->
    <div class="gift">
      <div class="container" data-aos="fade-up" data-aos-duration="600">
        <div class="title_theme white" data-aos="fade" data-aos-duration="600">
          <span>BLESSING GIFT</span>
          <p>Kirim Hadiah</p>
        </div>
        <div class="option upContainer" data-aos="fade-right" data-aos-duration="600">
          <p class="main">Direct Transfer <span></span></p>
          <p class="sub-main">Transfer langsung menuju rekening berikut :</p>
          <div class="box-option">
            <div class="rekening">
              <p>BCA</p>
              <div class="no-rekening">
                <p id="rek1">06612345678</p>
                <button onclick="navigator.clipboard.writeText(document.getElementById('rek1').innerHTML)">
                  <img src="../templates/010A/svg/Copy.svg" alt="">
                </button>
              </div>
              <p>A/N Jojon prowiro</p>
            </div>
            <div class="rekening">
              <p>BCA</p>
              <div class="no-rekening">
                <p id="rek1">06612345678</p>
                <button onclick="navigator.clipboard.writeText(document.getElementById('rek1').innerHTML)">
                  <img src="../templates/010A/svg/Copy.svg" alt="">
                </button>
              </div>
              <p>A/N Jojon prowiro</p>
            </div>
          </div>
        </div>
        <div class="option upContainer" data-aos="fade-right" data-aos-duration="600">
          <p class="main">Send Gift</p>
          <p class="sub-main">Kirim kado secara langsung ke alamat berikut :</p>
          <a href="">Jl. Gadung No 3, Denpasar Utara, <br>Kota Denpasar Bali</a>
        </div>
      </div>
      <img src="../templates/010A/img/gallery-1.png" alt="" data-aos="fade" data-aos-duration="600" class="gift-img-1">
      <img src="../templates/010A/img/gallery-2.png" alt="" data-aos="fade" data-aos-duration="600" class="gift-img-2">
    </div>
    <!-- GIFT -->
  <!-- RESERVASI -->
  <div class="reservasi bg-full">
    <div class="container">
      <div class="title_theme white" data-aos="fade" data-aos-duration="600">
        <span>SWEET WORD</span>
        <p>Kirim Pesan</p>
      </div>
      <form class="upContainer" id="form" data-aos="fade-up" data-aos-duration="800">
        <input type="text" placeholder="Nama anda" required>
        <input type="text" placeholder="Asal anda" required>
        <textarea name="" id="" placeholder="Ucapan selamat" required></textarea>
        <button type="submit">Kirim Ucapan</button>
      </form>
    </div>
    <div class="container khusus">
      <div class="box-text" data-aos="fade-up" data-aos-duration="600">
        <% data.reverse() %>
        <% data.forEach(chat=>{ %>
          <div class="item-text">
            <img src="../templates/010A/svg/Letter.svg" alt="">
            <div class="content-text">
              <span>
                <%= chat.name %>
              </span>
              <p>
                <%= chat.message %>
              </p>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>
  <!-- RESERVASI -->
  <!-- FOOTER -->
  <footer>
    <div class="container">
      <img src="../templates/010A/svg/Logo.svg" alt="" class="logo">
      <p>Merupakan suatu kehormatan dan kebahagiaan bagi kami karena telah dapat andil dalam membantu menyukseskan acara
      Bapak/Ibu/Saudara/i</p>
      <div class="sosial-media">
        <p>Temukan kami di :</p>
        <a href="">
          <img src="../templates/010A/svg/Instagram.svg" alt="">
          <p>@weddingweb.id</p>
        </a>
        <a href="">
          <img src="../templates/010A/svg/Whatsapp.svg" alt="">
          <p>+62 8956-2277-1393</p>
        </a>
      </div>
    </div>
  </footer>
  <!-- FOOTER -->
  </main>
</body>
<script src="../templates/010A/script.js"></script>
<script src="../utils/aos.js"></script>
<script>
  AOS.init()
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".box-love-story", {
    effect: "cards",
    grabCursor: true,
  });
</script>
</html>